*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family:'Source Serif 4' sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: auto;
    width: 100%;
    background-color: #F8F7F4;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: rgb(56, 71, 92); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-family: 'Roboto';
}
#nav h4 {
    font-size: 15px;
    font-weight: 500;
}

#nav-part1{
    width: 30%;
    /* background-color: rgb(180, 220, 255); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 64px;
    padding-bottom: 10px;
    padding-left: 50px;
}
#nav-part2{
    width: 35%;
    /* background-color: rgb(180, 220, 255); */
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

#search-container{
    width: 250px;
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding:0 15px;
    gap: 5px;
    margin-right: 25px;
    border-radius: 50px;
    transition: box-shadow ease 0.3s;
    &:hover{
        box-shadow: 0px 0px 2px 3px #F7E8F1;
    }
}
#search-icon{
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
}
#search-input{
    width: 100%;
    background: transparent;
    padding: 15px 15px 15px 5px;
    border: 0;
    outline: none;
    font-size: 15px;
}
#search-container:focus-within{
    box-shadow: 0px 0px 2px 3px #F7E8F1;
}

#log-in{
    border: none;
    margin-right: 20px;
    font-weight: 600;
    background-color: transparent;
    font-family: 'Roboto' serif;
}

#sign-up{
    color:white;
    background-color: black;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 25px;
    margin-right: 10px;
    font-family: poppins;
}

#content{
    height: calc(100% - 100px);
    height: auto;
    width: 100%;
    padding-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get-started{
    padding: 10px 18px;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    animation: smooth-color-change 20s ease infinite;
}
@keyframes smooth-color-change {
    0% {
        background: linear-gradient(right to left #ff7e5f, #feb47b); /* Start color */
    }
    25% {
        background: linear-gradient(right to left#feb47b, #c999fb); /* Transition color */
    }
    50% {
        background: linear-gradient(right to left #c999fb,  #5be3ed); /* Midway color */
    }
    75% {
        background: linear-gradient(right to left #5be3ed,#dfcef1); /* Near end color */
    }
    100% {
        background: linear-gradient(right to left #dfcef1, #feb47b); /* Return to start */
    }
}

#get-started h3{
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}   
#hero-heading{
    max-width: 780px;
    text-align: center;
    line-height: 76px;
    margin: 35px auto 24px;
}
#hero-heading h1{
    font-size: 82px;
    font-family: 'Source Serif 4';
    font-weight: 500;
    letter-spacing: -0.5px;
}
#para h4{
    font-family: 'Source Serif 4';
    font-weight: 500;
    font-size: 20px;
}
#get-started-button{
    margin-top: 32px;
    padding: 19px 27px;
    color: white;
    background-color: black;
    border-radius: 50px;
    font-weight: 600;
}

#bottom{
    height: 340px;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 5px;
    margin-top: 65px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#bottom::-webkit-scrollbar{
    display: none;
}
.elem{
    height: 100%;
    width: 300px;
    margin-right: 30px;
    border-radius: 35px;
    background-color: rgb(148, 163, 167);
    display: inline-block;
    overflow: hidden;
    position: relative;
    animation: scroll 6s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-100%);
    }
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem video::-webkit-media-controls {
    display: none; /* For Chrome/Safari */
}

.elem video::-moz-media-controls {
    display: none; /* For Firefox */
}

.elem video::-ms-media-controls {
    display: none; /* For Edge */
}


.card-text{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25px;
    padding-top: 45px;
}
.card-text p{
    font-family: Roboto;
    font-size: 13px;
    padding-bottom: 5px;
    color: white;
}
.card-text .skills{
    display: flex;
    max-width: 100%;
    gap: 20px;
    margin-top: 5px;
}
.card-text .skills p{
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
}

#page2{
    width: 100%;
    background: transparent;
    position: relative;
    padding: 53px 53px;
}

#page2 h1{
    font-family: sans-serif;
    font-size: 50px;
    margin-top:35px;
    margin-bottom: 38px;
    text-align: center;
    font-weight: 500;
}

.box{
    height: 240px;
    width: 320px;
    /* background-color: lavender; */
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 15px;
    position: relative;
    transition: all ease 0.8s;
    &:hover{
        box-shadow: 5px 5px 15px 2px rgb(190, 190, 251);
    }
}

.box img, video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box video::-webkit-media-controls{
    display: none;
}
.box video::-ms-media-controls{
    display: none;
}
.bottom-hover{
    height: 40%;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.26));
    backdrop-filter: blur(1px);
    transition: all ease 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.box:hover .bottom-hover{
    bottom: -5%;
}
.bottom-hover h5{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
}
.bottom-icons i{
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    margin: 5px;
    font-weight: 500;
    font-size: 18px;
}
#browse-more{
    margin: 0px auto;
    position: relative;
    /* background-color: #5be3ed; */
    height: 200px;
    margin-bottom: 20px;
}
#browse-more-button{
    font-family: Roboto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 500;
    padding: 20px 26px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}
#page-3{
    /* height: 100%; */
    width: 100%;
}

#bottom-banner{
    background-color: #FFDA79;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.banner-heading h1{
    text-align: center;
    font-weight: 500;
    font-size: 72px;
    max-width: 650px;
    line-height: 72px;
    margin-bottom: 30px;
}
.banner-para{
    max-width: 580px;
}
.banner-para p{
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}
#banner-button{
    margin:25px;
}
#start{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: 600;
    margin: 8px;
}
#learn{
    background-color: white;
    color: black;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: 600;
    margin: 8px;
    border: none;
}
.join{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    font-family: Roboto;
    font-size: 21px;
}
.join p{
    font-weight: 400;
}
.join a{
    text-decoration: underline;
    color: black;
    font-size: 20px;
}

#branding{
    width: 100%;
    /* background-color: rgb(109, 109, 109); */
    margin: 50px auto;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}
.brands{
    width: 200px;
    /* height: 150px; */
    /* background-color: #5be3ed; */
    margin-right:25px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(241, 207, 255);
    overflow: hidden;
    transition: box-shadow ease 0.5s;
    animation: scrolling 5s linear infinite;
    &:hover{
        box-shadow: 0px 0px 5px 5px rgb(241, 207, 255);
    }
}

@keyframes scrolling{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-100%);
    }
}
.brands img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}
.brand-info p{
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    max-width: fit-content;
}
#footer img{
    height: 64px;
    padding-right: 70px;
}
.list{
    font-family:'Source Serif 4';
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    text-transform: capitalize;
    padding-right: 70px;
}
.list li{
    font-size: 14px;
    font-weight: 500;
}
.social{
    display: flex;
    align-items: center;
    gap: 13px;
}
.social a{
    font-size: 22px;
    color: black;
}
#footer-2{
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(50, 49, 49);
    font-size: 14px;
    margin: 50px auto;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    max-width: 1260px;
    justify-content: space-between;
}
.left, .right, a{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    gap: 25px;
}
